body {
    background-color: #1d1a16;
    color: white;
}

details {
  margin: 0 auto ;
  background: #282828;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  background: #333;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.details-expanded {
	padding: 0 2rem;
}
pre {
	white-space: pre-wrap;
	word-break: break-all;
}



.header {
    font-family: "Verdana";
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    font-size:20px;
    margin-top:40px;
}

.text {
    font-family: 'Cabinet Grotesk',system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica Neue',Helvetica,sans-serif;
    text-align:left;
    line-height:1.5;
    font-size: 18px;
    width:75%;
    margin-left:12%;
    margin-right:12%;
    color:white;
}

.header-items {
    margin:auto;
    color:white;
    font-size:20px;
}


#navbar::after {
    content: "";
    border-top: 1px solid white;
    display: block;
    width: 100%;
    position: absolute;

}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.name {
    font-weight:bold;
    font-size: 12px;
    text-align:center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;

}

a {
    cursor:pointer;
    color:white; 
    text-decoration: none;
    font-weight: bold; 
}

.orange {color:orange; }
.container {display: flex;   justify-content: center; }



#logo {
    width: 900px;
}

#title{font-size: 45px;}

.people {
    width:200px;height:200px;
    display: inline-block;
    vertical-align: middle;
     /* border-radius:50%;*/
}

#mega-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width:100%;
    place-items: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.outer  {
    margin-right: 100px;
    text-align: center;
    margin:auto;
    margin-bottom:100px;

}


.flip-box {
    background-color: transparent;
    width:200px; height:200px;
    perspective: 1000px;
    display:inline-block;
    text-align: center;
    margin:auto; 
}

.inner {
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
}

.flip-box-inner {
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}



.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg); 
}



.nohover:hover .flip-box-inner  {
    transform: none; 
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width:100%; height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility:hidden;

}

.flip-box-front {
    background-color: transparent;
    color:black;

}

.flip-box-back {
    background-color: black;
    color: white;
    text-align:center;
    transform: rotateY(180deg);
    margin: 0;
    display:table;
    width:100%;height:100%; 

}

.alerts {
    font-size:32px;
}

#m_logo {
    width:50px;
}

@media screen and (max-width:900px) {
    #logo {width: 700px;}
    #title {font-size: 32px;}
    .alerts {font-size:25px;}
}


@media screen and (max-width:800px) {
    .header-items {font-size: 15px; }
    #m_logo {width:35px;}
}


@media screen and (max-width:680px) {
    #title {font-size:28px;}
    #logo {width: 500px; }
    .alerts {font-size:17px;}
}


@media screen and (max-width:680px) {
    #title {font-size:28px;}
    #logo {width: 500px; }
    .alerts {font-size:19px;}
    #logo {margin-bottom: 15px;}
}


@media screen and (max-width:850px) {
    #mega-container {grid-template-columns: auto auto;}
}


@media screen and (max-width:550px) {
    #mega-container {grid-template-columns: auto;}
}

